@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    font-family: 'inter',sans-serif;
    display: flex;
    height: 100vh;
}

.left,
.right {
    flex: 1;
}
.left{
    display: block;
    background-color:#1c1c1c ;
    width:50%;
    padding-left:50px;
}
 .left-content{
    padding: 10px 0px 10px 10px;
 }
.left-main-logo{
    color: rgb(255, 255, 255);
    padding-top: 60px;
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
    font-size: x-large;
}

.left-main-heading{
    padding-top: 40px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.left-main-blocks{
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: column;
}
.left-main-block{
    display: flex;
    padding: 10px 0px 10px 10px;
}

.left-main-block-text{
    color: #fff;
    font-size: large;
    padding-left: 10px;
}

.left-middle-text{
    color: #9c9898;
    font-size: medium;
    font-family: "Google Sans", sans-serif;
    padding: 20px 0px 20px 20px;
}

.left-logos{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.left-logo{
    justify-content: space-between;
}
.rating{
    display: flex;
    text-align: center;
}
.rating-content{
    color: #9c9898;
    font-size: medium;
    padding:5px;
}


.right{
   background-color:#fff;
   font-family: 'inter',sans-serif; 
   margin: 45px;

}
.right-container{
    padding: 80px 100px 80px 80px;
      width:80%
}
.right-main-heading{
      font-size:45px ;  
}

.right-sub-heading{
    font-size: medium;
    font-family: "Google Sans", sans-serif;
    color:#9c9898;
    padding: 20px 0px;
}

.forms{
    display: flex;
    flex-direction: column;
}
.lable{
    padding: 5px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.input{
    padding:15px;
    font-family: "Open Sans", sans-serif;
    border: 1px solid rgb(217, 215, 215);
    border-radius: 15px;
    margin: 5px;
    font-size: medium;
}

.btn{
    display: flex;
    justify-content: space-around;
}
.next-btn{
    border-radius: 30px;
    margin:50px 0px;
    padding: 10px 0px;
    width:100px;
    background-color: #535252;
    font-size: large;
    color: #9c9898;
    cursor: pointer;
}

.next-btn:hover{
    background-color: #383737;
    color: #fff;
}

.right-content-sections{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content-section1{
    background-color: #222222;
    height: 4px;
    width: 80px;
    border-radius: 10px;
    margin:4px;
}

.right-content-section2{
    background-color: #c1c0c0;
    height: 4px;
    width: 80px;
    border-radius: 10px;
    margin: 4px;
}

